.DS_Store
.AppleDouble
.LSOVerride

._*

# Icon must end with two \r
Icon


.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.icloud
